@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Global styles
========================= */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
